.landing-block {
    box-sizing: border-box;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    img {
      width: 100%;
    }
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }